.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  width: 75%;
  margin-bottom: 2rem;
  color: #ffe381;
  text-align: center;
}

.statement {
  width: 90%;
  max-width: 800px;
  padding: 1.5rem;
  border: 1px solid #ffffff;
}

.statement__p,
.statement__ul {
  margin: 0.5rem 0;
}

.statement__ul {
  margin-left: 1.5rem;
}

.statement__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statement__form__input {
  width: 45%;
  height: 2rem;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0.5rem 0;
}
